<div ng-controller="mainCtrl as vm">
    <h3>Sample Directives:</h3>
    <br />
    <p>
        <h4>local-datetime directive</h4>
        This directive (which is used to display the date and time above the menu)
        is an example of a directive that manipulates the DOM using an embedded template.
    </p>

    <br />
    <p>
        <h4>jqui-draggable directive</h4>
        This directive demonstrates:
        <ul>
            <li>initialization</li>
            <li>ng-model binding to an object with properties</li>
            <li>one-way attribute binding</li>
            <li>attribute callbacks</li>
        </ul>
    </p>
    
    <br/>
    <p>
        <h4>jqui-accordion directive</h4>
        This directive demonstrates:
        <ul>
            <li>initialization</li>
            <li>ng-model binding</li>
            <li>one-way attribute binding</li>
            <li>attribute callbaks</li>
        </ul>
    </p>
    
    <br/>
    <p>
        <h4>jqui-dialog directive</h4>
        This directive demonstrates:
        <ul>
            <li>initialization</li>
            <li>destruction</li>
            <li>one-way attribute binding</li>
            <li>two-way attribute binding</li>
        </ul>
    </p>
</div>
