@import "../../../bower_components/bootstrap-css/css/bootsrap-variables.less";

body {
    width: 100%
}

code {
    white-space: nowrap;
}

header {
    h1 {
        text-align: center;
    }
}

.ui-dialog {
    .ui-dialog-titlebar {
        background-color: @brand-primary;
    }
    .ui-dialog-content {
        p {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
